.forgot-password-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(48, 48, 48, 0.1);
    background: #022859;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .text-center {
    text-align: center;
  }
  
  .back-to-login-link {
    color: #007bff;
    cursor: pointer;
  }
  
  .back-to-login-link:hover {
    text-decoration: underline;
  }