
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background-color: #45525f;
  }
  
  .login-form {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #022859;
    text-align: center;
  }
  
  
.form-outline {
    margin-bottom: 1rem;
  }
  
  .form-control {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-check {
    display: flex;
    align-items: center;
  }
  
  .form-check-input {
    margin-right: 0.5rem;
  }
  
  .btn-primary {
    background: #e93503;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 1rem; 
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background: #e9e6e5;
  }
  
  .text-center {
    text-align: center;
  }
  
  .forgot-password-link {
    text-decoration: none;
    color: #d8e2ec;
    font-weight: 600;
  }
  
  .social-buttons {
    margin-top: 1rem;
  }
  
  .social-buttons .btn {
    margin-right: 0.5rem;
    background: #fff;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .social-buttons .btn i {
    color: #545454;
  }
  